<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/indexStyle.css">
  <title>Task Planner</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">
          <a href="/todos" class="navbar-brand">Tasks</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <header id="home-section">
        <div class="dark-overlay">
          <div class="home-inner container">
            <div class="row">
              <h1 class="display-4 mainHeading">Task And Notes Manager</h1>
              <div class="col-md-6 offset-md-3 d-none d-lg-block">
                <div class="card bg-primary text-center card-form">
                    <div class="card-body">
                      <h3>Add Tasks</h3>
                      <p>Please fill out the tasks details</p>
                      <form action="/todos" method="POST">
                        <div class="js-form-message form-group mb-3">
                          <input type="text" class="form-control" name="title" placeholder="Title" required>
                        </div>
                        <div class="js-form-message form-group mb-3">
                          <textarea class="form-control" rows="5" name="description" placeholder="Todo's description !" 
                              data-msg="Please enter your message."
                              data-error-class="u-has-error"
                              data-success-class="u-has-success"></textarea>
                        </div>
                        <div class="js-form-message form-group mb-3">
                          <input type="date" class="form-control" name="due" placeholder="Due Date" required>
                        </div>
                        <select class="custom-select mb-3" name="priority">
                          <option value="high">High</option>
                          <option selected value="medium">Medium</option>
                          <option value="low">Low</option>
                        </select>
                        <div class="js-form-message form-group mb-3">
                          <label class="mr-4">
                          <input type="radio" class="form-check-input" name="status" value="complete">Status complete
                        </label>
                        <label>
                          <input type="radio" class="form-check-input" name="status" value="incomplete">Status incomplete
                        </label>
                        </div>
                        
                        <div class="d-flex justify-content-center mt-3">
                          <button type="submit" class="btn btn-outline-light btn-block transition-3d-hover">Add Todo</button>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    <section id="explore-head-section">
        <div class="container">
        <div class="row">
            <div class="col text-center py-5">
            <h1 class="display-4">All Tasks</h1>
            <p class="lead">Here is the list of all tasks you can click on it and check the details of it you can update or add note as well !</p>
            </div>
        </div>
        </div>
    </section>

    <section id="explore-section" class="bg-light text-muted py-5">
        <div class="container">
          <div class="filterForm w-50">
            <form class="d-flex d-flex-row" action="/todos?_method=GET" method="POST">
              <select class="custom-select" name="filters">
                <option selected>Select Filters</option>
                <option value="priority">High to Low Priority</option>
                <option value="dateDesc">Recent Tasks</option>
                <option value="dateAsc">Older Tasks</option>
                <option value="status">Status Wise</option>
              </select>
              <button type="submit" class="btn btn-outline-primary mb-2 ml-4">Apply</button>
            </form>
          </div>
          <div class="row">
            <div class="col-md-8 offset-md-2">
                <div id="accordion">
                    <% todos.forEach(todo=>{ %>
                    <div class="card">
                      <div class="card-header" id="heading<%=todo.id%>">
                        <h5 class="mb-0">
                          <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapse<%=todo.id%>" aria-expanded="false" aria-controls="collapse<%=todo.id%>">
                            <p class="lead"><%= todo.title %></p>
                          </button>
                        </h5>
                      </div>
                      <div id="collapse<%=todo.id%>" class="collapse" aria-labelledby="heading<%=todo.id%>" data-parent="#accordion">
                        <div class="card text-dark bg-light mb-2">
                            <img class="card-img cardStyle rounded mx-auto d-block" src="/images/no.png" alt="Card image">
                            <div class="card-img-overlay ml-4 mt-4">
                                <h5 class="card-title"><p class="lead">Posted on:- <%= todo.due.toLocaleDateString()%></p></h5>
                                <h5 class="card-title"><p class="lead text-capitalize">Task Priority:- <%= todo.priority%></p></h5>
                                <h5 class="card-title"><p class="lead text-capitalize">Task Status:- <%= todo.status%></p></h5>
                                <p class="card-text"><%-todo.description%></p>
                                <a href="/todos/<%=todo.id%>" class="btn btn-outline-primary mb-1">Edit</a>
                                <a href="/todos/<%=todo.id%>/notes" class="btn btn-outline-primary ml-3 mb-1">Notes</a>
        
                            </div>    
                        </div>

                        <!-- notes -->
                        <div>
                          <div class="card">
                              <div class="card-header text-dark">
                                  Notes
                              </div>
                              <div class="card-body">
                                  <form action="/todos/<%=todo.id%>/notes" method="post">
                                      <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="description"></textarea>
                                      </div>
                                      <button type="submit" class="btn btn-outline-primary">Add Notes</button>
                                    </form>
                              </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <%}); %>
                  </div>
            </div>
          </div>
        </div>
      </section>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>

</body>
</html>